/*
Sass::SyntaxError: You may not @extend an outer selector from within @media.
You may only @extend selectors within the same directive.
From "@extend .f3" on line 165 of styles/cads-support/lib/variables.scss.


Backtrace:
styles/cads-support/lib/variables.scss:199
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/lib/sass/selector/simple_sequence.rb:331:in `check_directives_match!'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/lib/sass/selector/simple_sequence.rb:197:in `block (2 levels) in do_extend'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/lib/sass/selector/simple_sequence.rb:197:in `each'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/lib/sass/selector/simple_sequence.rb:197:in `block in do_extend'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/lib/sass/selector/simple_sequence.rb:188:in `map!'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/lib/sass/selector/simple_sequence.rb:188:in `do_extend'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/lib/sass/selector/sequence.rb:116:in `block in do_extend'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/lib/sass/selector/sequence.rb:114:in `map'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/lib/sass/selector/sequence.rb:114:in `do_extend'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/lib/sass/selector/comma_sequence.rb:73:in `block in do_extend'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/lib/sass/selector/comma_sequence.rb:72:in `map'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/lib/sass/selector/comma_sequence.rb:72:in `do_extend'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/lib/sass/tree/visitors/extend.rb:44:in `visit_rule'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/lib/sass/tree/visitors/extend.rb:28:in `visit'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/lib/sass/tree/visitors/extend.rb:37:in `visit_children'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/lib/sass/tree/visitors/base.rb:38:in `visit'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/lib/sass/tree/visitors/extend.rb:28:in `visit'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/lib/sass/tree/visitors/extend.rb:15:in `visit'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/lib/sass/tree/root_node.rb:39:in `css_tree'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/lib/sass/engine.rb:307:in `render_with_sourcemap'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/lib/sass/exec/sass_scss.rb:387:in `run'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/lib/sass/exec/sass_scss.rb:63:in `process_result'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/lib/sass/exec/base.rb:50:in `parse'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/lib/sass/exec/base.rb:18:in `parse!'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.0/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: You may not @extend an outer selector from within @media.\A You may only @extend selectors within the same directive.\A From \"@extend .f3\" on line 165 of styles/cads-support/lib/variables.scss.\A "; }
